* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  font-family: 'Mulish', sans-serif;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.searchContainer {
  height: 50vh;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;

  &.searchActive {
    align-items: center;
    height: 30vh;

  }

  div.search {
    display: flex;
    flex-direction: column;
    width: 200px;
    transition-property: transform, opacity;

    &.searchActive {
      animation: 400ms ease fadeIn;
      transform: translateY(0);
    }

    input {
      border: none;
      padding: 5px 10px;
      text-align: center;
      font-size: 20px;
      cursor: default;

      &::placeholder {
        text-align: center;
        color: #000;
      }

      &:focus {outline: none;}

      &:focus::placeholder {opacity: 0;}

      &:focus ~ label::after {
        border-bottom: 2px solid rgba(0, 0, 0, 1);
        transform: scaleX(5) translate(40%, 2px);
      }

    }

    label {

      border-bottom: 2px solid rgba(0, 0, 0, 0);

      &::after {
        content: '';
        width: 20%;
        display: block;
        border-bottom: 2px solid rgba(0, 0, 0, 0);
        transform: translate(200%, 2px);
        transition: border-bottom 300ms ease 100ms, transform 300ms ease 100ms;
      }

      &.active {
        border-bottom: 2px solid rgba(0, 0, 0, 1);
      }

    }

  }
}


.results {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 30px;
  height: 50vh;

  //@media (min-width: 500px) {
  //  grid-gap: 40px;
  //}

  @media (min-width: 600px) {
    grid-gap: 45px;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: 960px) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
  }

  @media (min-width: 1340px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 55px;
  }

  .item {
    background-size: cover;
    background-position: 50%;
    width: 200px;
    height: 200px;

    //@media (min-width: 500px) {
    //  width: 220px;
    //  height: 220px;
    //}

    @media (min-width: 600px) {
      width: 240px;
      height: 240px;
    }

    @media (min-width: 960px) {
      width: 250px;
      height: 250px;
    }

    @media (min-width: 1340px) {
      width: 270px;
      height: 270px;
    }
  }
}


@keyframes fadeIn {
  from {
    transform: translateY(-50%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
